body {
    background-color: #000000; /* black background */
    color: #212020; /* white text for contrast */
    font-family: "Roboto", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.nav-logo {
    height: 50px;
    width: 120px;
    color: gold;
}

.ecommerce-carousel-container {
    width: 100%;
    height: 100%;
}

.nav-items {
    margin-left: auto;
}
.services-section-background {
    background-color: #060606;
    height: 100vh;
    font-family: "Roboto";
}

.services-heading {
    color: #d0d530;
    font-weight: bold;
    font-size: 40px;
}


.services-description {
    color: #7b8794;
    font-size: 26px;
}

.item-image {
    height: 100px;
    width: 100px;
    
}
.item-image-hover{
    border-color: aqua;

}

.item-heading {
    color: #0a7de2;
    font-weight: 500;
    font-size: 30px;
}

.button-hover{
    border-color: #ad2167;
}

.item-description {
    color: #c7cace;
    font-size: 23px;
}
.our-products-heading {
    color: #e6eaec;
    font-weight: bold;
    font-size: 34px;
}

.card-body {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png');
    background-size: cover;
    height: 328px;
    padding: 20px;
    border-radius: 16px;
}

.card-title {
    color: #131312;
    font-weight: bold;
    font-size: 36px;
}

.card-text {
    color: #beb4b4;
    font-size: 22px;

}

.products-button {
    background-color: #0f0f0f;
    color: #ff9f00;
    height: 40px;
    width: 140px;
    border-radius: 18px;
    border-color: #090808;
}

.menu-item-link {
    color: #ff9f00;
    font-weight: bold;
}
.bg-container {
    background-image: linear-gradient(to right, #f49541, #dd5d97);
    padding-top: 30px;
    padding-bottom: 30px;
}

.offer-head {
    color: #4814b9;
    font-family: "Bree Serif";
    font-size: 28px;
}

.description {
    color: rgb(228, 223, 223);
    font-family: "Roboto";
    font-size: 18px;
}

.percent {
    font-weight: bold;
    font-style: italic;
}

.img {
    width: 250px;
    margin: 10px;
}
.card-text {
    font-weight: 500;
    color: #090e17;
    font-size: 21px;
}

.card-sub-heading {
    font-size: 36px;
    font-weight: bold;
}

.card-description {
    font-size: 28px;
    font-weight: 400;
    color: #0a0a0b;
}

.menu-item-link {
    color: #c7de18;
    font-weight: bold;
    font-size: 22px;
}
.card-text {
    font-weight: 500;
    color: #959ead;
    font-size: 21px;
}

.card-sub-heading {
    font-size: 36px;
    font-weight: bold;
}

.card-description {
    font-size: 28px;
    font-weight: 400;
    color: #c8d1d1;
}

.menu-item-link {
    color: #d3d3d5;
    background-color: #0c0d0e;
    font-weight: bold;
    font-size: 22px;
}
.explore-heading {
    color: #183b56;
    font-size: 38px;
    font-weight: bold;
}

.card-heading {
    color: #1f2933;
    font-size: 28px;
    font-weight: bold;
}

.gadget-img {

    border-radius: 20px;
}

.gadget-name {
    color: #0e0f0f;
    font-size: 20px;
    margin-left: 38px;
}

.sub-card {
    border-width: 0px;
}

.card {
    border-radius: 10px;
    background-color: black;
}
.contact-us-section {
    background-color: #f5f7fa;
}

.heading {
    color: #183b56;
    font-weight: bold;
    font-size: 38px;
}

.button {
    height: 40px;
    width: 130px;
    border-style: solid;
    border-width: 3px;
    border-color: #3e3984;
    background-color: #f5f7fa;
    color: #d0e612;
}
.vr-footer-section {
    background-color: #19232d;
}

.vr-logo {
    width: 56px;
    height: 36px;
}

.vr-footer-section-icon-container {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 15px;
    background-color: #202b36;
    margin-right: 8px;
    margin-bottom: 8px;
}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.vr-footer-section-text {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.vr-footer-section-heading {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}

.vr-footer-section-list {
    list-style-type: none;
    padding-left: 0;
}

.hr-line {
    background-color: #5a7184;
}

.vr-footer-section-copyright {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}
.card-shadow{
    background-color: rgb(8, 8, 8);
    background-size: cover;
}